@charset "UTF-8";
/* 
 CSS Document 
*/ 

/* Notes */
.new-note .note-text{
	font-size: 24px;
}

.new-note .note-text-date{
	font-size: 20px;
}

.new-note .note-text,
.new-note .note-text-date{
	color: #3a5795;
}

.new-note li{
	border: thin solid #3a5795;
	border-radius: 7px;
	padding: 2px;
}

.new-note-check{
	font-size: 20px;
	color:#25A102;
	font-weight: 300;
	padding: 0 14px;
}

.note-text-date{
	white-space: nowrap;
	line-height: 1.3;
	font-weight: 600;
}
